# Dependencies
node_modules/
.pnpm-store/

# Build output
.next/
out/
build/
dist/

# Env files
.env
.env*.local
.env.development
.env.production

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test / coverage
coverage/
.nyc_output/

# Caches
.turbo/
.cache/
.swc/
.vercel/

# Blacknel runtime data (pglite dev DB)
.blacknel/

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# TS build info
*.tsbuildinfo
next-env.d.ts

# Drizzle local
drizzle/.drizzle/
